absl-py==1.4.0
accelerate==0.19.0
aiohttp==3.8.4
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.3.1
alembic==1.10.4
altair==4.2.2
ansicon==1.89.0
anyio==3.6.2
appdirs==1.4.4
asgiref==3.6.0
astroid==2.15.4
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
Authlib==1.2.0
azure-ai-formrecognizer==3.3.0b1
azure-common==1.1.28
azure-core==1.26.4
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bert-extractive-summarizer==0.10.1
black==23.3.0
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
blis==0.7.9
boilerpy3==1.0.6
boto3==1.26.133
botocore==1.29.133
bpemb==0.3.4
cachetools==5.3.0
canals==0.0.3
catalogue==2.0.8
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.0.4
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.5
confection==0.0.4
conllu==4.5.2
construct==2.5.3
contourpy==1.0.7
coverage==7.2.5
cryptography==40.0.2
cycler==0.11.0
cymem==2.0.7
databind==1.5.3
databind.core==1.5.3
databind.json==1.5.3
databricks-cli==0.17.6
datasets==2.12.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
Django==4.2.1
dnspython==2.3.0
docker==6.0.1
docopt==0.6.2
docspec==2.1.2
docspec-python==2.1.2
docstring-parser==0.11
elasticsearch==7.17.9
entrypoints==0.4
Events==0.4
exceptiongroup==1.1.1
executing==1.2.0
faiss-cpu==1.7.2
farm-haystack @ git+https://github.com/deepset-ai/haystack.git@5b2ef2afd6fc8bd14b5e8f760faa40526d139bee
fastapi==0.95.1
fastjsonschema==2.16.3
ffmpeg-python==0.2.0
filelock==3.12.0
flair==0.12.2
Flask==2.2.5
flatbuffers==1.12
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.3
gast==0.4.0
gdown==4.4.0
gensim==4.3.1
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-auth==2.17.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gpt-2-simple==0.8.1
gpustat==1.1
greenlet==2.0.2
grpcio==1.54.2
grpcio-tools==1.37.1
h11==0.14.0
h5py==3.8.0
haystack==0.42
huggingface-hub==0.14.1
humanfriendly==10.0
hyperopt==0.2.7
identify==2.5.24
idna==3.4
image==1.5.33
importlib-metadata==6.6.0
importlib-resources==5.12.0
inflect==6.0.4
iniconfig==2.0.0
ipython==8.13.2
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
Janome==0.4.2
jarowinkler==1.2.3
jax==0.4.10
jedi==0.18.2
Jinja2==3.1.2
jinxed==1.2.0
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupytercontrib==0.0.7
jupyterlab-pygments==0.2.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
lazy-object-proxy==1.9.0
libclang==16.0.0
llvmlite==0.40.0
loguru==0.7.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==2.0.5
mkdocs==1.4.3
ml-dtypes==0.1.0
mlflow==2.3.1
mmh3==3.0.0
monotonic==1.6
more-itertools==9.1.0
mpld3==0.3
mpmath==1.3.0
msgpack==1.0.5
msrest==0.7.1
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mypy==1.2.0
mypy-extensions==1.0.0
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
networkx==3.1
nltk==3.8.1
nodeenv==1.7.0
nr.util==0.8.12
num2words==0.5.12
numba==0.57.0
numpy==1.23.5
nvidia-ml-py==11.525.112
oauthlib==3.2.2
onnx==1.14.0
onnxruntime==1.14.1
onnxruntime-tools==1.7.0
openai-whisper==20230314
opencensus==0.11.2
opencensus-context==0.1.3
opensearch-py==2.2.0
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.1
pathy==0.10.1
pdf2image==1.16.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.0.0
pinecone-client==2.2.1
platformdirs==3.5.0
plotly==5.14.1
pluggy==1.0.0
posthog==3.0.1
pptree==3.1
pre-commit==3.3.1
preshed==3.0.8
prometheus-client==0.13.1
prompt-toolkit==3.0.38
protobuf==3.19.6
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-spy==0.3.14
py3nvml==0.2.7
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.1b0
pydoc-markdown==4.6.4
Pygments==2.15.1
PyJWT==2.6.0
pylint==2.17.3
pymilvus==2.0.2
Pympler==1.0.1
PyMuPDF==1.22.2
pyparsing==3.0.9
pyproject_api==1.5.1
pyreadline3==3.4.1
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-cov==4.0.0
pytest-custom-exit-code==0.3.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-frontmatter==1.0.0
python-multipart==0.0.6
python-ptrace==0.9.8
python-speech-features==0.6
pytorch_revgrad==0.2.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32==306
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==25.0.2
quantulum3==0.8.1
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
ray==1.13.0
rdflib==6.3.1
regex==2023.5.5
requests==2.28.2
requests-cache==0.9.8
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.3.5
rouge==1.0.1
rsa==4.9
python-frontmatter==1.0.0
s3transfer==0.6.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
segtok==1.5.11
selenium==4.9.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
seqeval==1.2.2
six==1.16.0
sklearn==0.0.post4
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SQLAlchemy==1.4.48
SQLAlchemy-Utils==0.41.1
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.6
sseclient-py==1.7.2
stack-data==0.6.2
starlette==0.26.1
streamlit==1.22.0
summarizer==0.0.7
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.3.1
tinycss2==1.2.1
tokenize-rt==5.0.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.8
toolz==0.12.0
toposort==1.10
torch==2.0.0
torchvision==0.15.1
tornado==6.3.1
tox==4.5.1
tqdm==4.65.0
traitlets==5.9.0
transformer-smaller-training-vocab==0.2.3
transformers==4.29.1
trio==0.22.0
trio-websocket==0.10.2
typer==0.7.0
types-PyYAML==6.0.12.9
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ujson==5.1.0
url-normalize==1.4.3
urllib3==1.26.15
uvicorn==0.16.0
validators==0.20.0
virtualenv==20.23.0
waitress==2.1.2
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
weaviate-client==3.17.0
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.3
Wikipedia-API==0.5.8
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
xxhash==3.2.0
yapf==0.33.0
yarl==1.9.2
zipp==3.15.0
